<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.InBoundMapper">
    <resultMap id="House" type="inBound">
<!--        <id property="a" column=""></id>-->
<!--        <result property="b" column=""></result>-->
    </resultMap>
    <select id="queryall" resultMap="House">
        SELECT w.put_time,w.put_order,p.purchaseno,w.put_state,w.put_type,s.sname,r.rname,e.ename ,emp.ename as staff
        FROM inbound w
        left join repository r on w.rid = r.rid
        left join purchase p on W.pid = P.id
        left join supplier s on w.sid = s.sid
        left join emp e on W.eid = e.eid
        left join repository rep on w.rid = rep.rid
        left join emp  on emp.eid = rep.eid
    </select>
</mapper>